node_modules
__pycache__
.DS_Store
.env
.ipynb_checkpoints
.mypy_cache
.pytest_cache
.ruff_cache
.vscode
.venv
*.ipynb
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
backend/db/dbs/*
backend/db/data/*
backend/storage/*
*_log.txt
backend/nltk_data/*
